:root {
    --bg: #fff;
    --color: #000;
}

#map {
    aspect-ratio: 16 / 9;
}

.card {
    margin-top: 1em;
    margin-bottom: 1em;
}

#results .card, #results .table {
    background: var(--bg);
}

#weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
}

#weather > .card {
    /* Makes each day of weather report horizontal */
    display: inline-block;
    /* margin: 1em; */
}

#weather > .card > .card-content {
    padding: 1em;
}

.modal.is-active {
    /* Makes the modal higher than the map */
    z-index: 1000;
}

* {
    transition: color, background 1s;
}
#map {
    transition: filter 1s;
}

body > canvas:first-child {
    position: fixed;
}

body .title,
body .subtitle,
#results .card,
#results .card-header-title,
#results .table,
#results .table thead th {
    color: var(--color) !important;
}
